.botao {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}

button {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.7s linear;
}

button:hover {
    background-color: rgb(44, 201, 76);
    color: white;
}

.container {
    position: relative; 
    height: 200px; 
    width: 100%; 
}

#vrum {
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    transition: left 1s ease;
}
