body{
    background-color: black;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    margin: 20px;
    text-align: center;
    font-size: 18px;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
    margin-left: 40%;
    margin-right: 40%;
}

.numeros{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#operacao{
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    width: 100px;
    &:hover{
        font-weight: 600;
    }
}

input{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
    font-weight: bold;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3174f0;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: 0.7s ;
    &:hover{
        background-color: #2693d3;
    }
}

.resultFinal{
    font-size: 25px;
    color: white;
    margin-bottom: 50px;
}