body{
    background-color: black;
    color: aliceblue;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.caixa{
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: darkslategrey;
    border: solid 5px whitesmoke;
}

.caixa-ativa{
    background-color: gray;
    border: solid 5px blue;
    color: lightblue;
}

button{
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}